.certificates {
  &__container {
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__left {
    flex: 0 1 482px;
    &_2 {
      flex: 0 1 492px;
    }
    @media (max-width: $laptop) {
      flex: 0 1 308px;
    }
    @media (max-width: $tablet) {
      flex: auto;
    }
  }

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
    @media (max-width: $mobile) {
      margin-bottom: 40px;
    }
    &_2 {
      max-width: 314px;
    }
    &_5 {
      max-width: 482px;
      margin-bottom: 70px;
      @media (max-width: $tablet) {
        max-width: 100%;
        margin-bottom: 40px;
      }
    }
  }

  &__btn {
    width: 318px;
    &_2 {
      width: 453px;
    }
    @media (max-width: $laptop) {
      width: 100%;
    }
  }

  &__right {
    flex: 0 0 650px;
    @media (max-width: $laptop) {
      flex: 0 0 492px;
    }
    @media (max-width: $tablet) {
      flex: auto;
    }
  }
}

.faq {
  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &_column {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .faq__ok {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      @media (max-width: $tablet) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__item {
    padding: 40px;
    border-radius: 10px;
    background-color: $white;
    @media (max-width: $mobile) {
      padding: 30px 10px;
    }
    &_m {
      @media (max-width: $mobile) {
        width: 100vw;
        transform: translate(-10px, 0);
      }
    }
  }

  &__label {
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 120%;
    position: relative;
    @media (max-width: $mobile) {
      padding-right: 70px;
    }
    &_b {
      font-family: Jost;
      font-size: 18px;
      font-weight: 500;
      color: $black;
    }
  }

  &__plus {
    width: 62px;
    height: 62px;
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 50%;
    border-radius: 50%;
    border: 2px solid rgb(2, 52, 199);
    transform: translate(50%, -50%);
    transition: all 0.3s;
    &::before {
      right: 50%;
      top: 50%;
      content: "";
      position: absolute;
      width: 22px;
      background-color: $accent;
      height: 2px;
      transform: translate(50%, 0);
      transition: all 0.3s;
    }
    &::after {
      right: 50%;
      top: 50%;
      content: "";
      position: absolute;
      width: 22px;
      background-color: $accent;
      height: 2px;
      transform: rotate(-90deg);
      transition: all 0.5s;
      transform: translate(50%, 0) rotate(-90deg);
      transition: all 0.3s;
    }
    &:hover {
      background-color: $accent;
      &::before,
      &::after {
        background-color: $white;
      }
    }
    &.active {
      transform: translate(50%, -50%) rotate(45deg);
    }
  }

  &__content {
    max-height: 0px;

    overflow: hidden;
    transition: all 0.3s;
    &.active {
      margin-top: 34px;
    }
    a {
      // display: block;
      // margin-top: 20px;
    }
    &_bottom {
      p {
        margin-bottom: 33px;
      }
    }
    p {
      max-width: 449px;
      line-height: 130%;
      @media (max-width: $laptop) {
        max-width: 100%;
      }
    }

    span {
      font-family: Jost;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      color: $black;
      padding-right: 5px;
      padding-top: 33px;
    }
    &.active {
      &_bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
.faq-label_b {
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  color: $black;
}
