.intro-img {
  margin-top: 55px;
  @media (max-width: $mobile) {
    margin-top: 40px;
  }
  &__slider {
    overflow: hidden;
    width: 100%;
    @media (max-width: $laptop) {
      width: 100vw;
      transform: translate(-15px, 0);
    }
    @media (max-width: $mobile) {
      transform: translate(-10px, 0);
    }
  }

  &__wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
  }

  &__slide {
    flex: 0 0 100%;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      @media (max-width: $laptop) {
        border-radius: 0px;
      }
    }
  }
}

.dop__title {
  margin-bottom: 50px;
}

.cookie {
  height: 100px;
  width: 100%;
  background-color: $white;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.11);
  &.active {
    display: block;
  }
  @media (max-width: $tablet) {
    height: 136px;
  }
  @media (max-width: $mobile) {
    border-radius: 10px 10px 0 0;
    height: 250px;
  }
  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $tablet) {
      align-items: start;
      padding-top: 20px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      padding-top: 30px;
      justify-content: start;
    }
  }

  &__par {
    color: $black;
    max-width: 635px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 110%;
    a {
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: $laptop) {
      max-width: 468px;
    }
    @media (max-width: $tablet) {
      max-width: 417px;
      padding-top: 6px;
    }
    @media (max-width: $mobile) {
      max-width: 348px;
      padding-top: 0;
      margin-bottom: 34px;
      a {
        text-decoration: underline;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 10px;
    }
    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__btn {
    width: 192px;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}
