.creation {
  background-color: #2452cc;

  &_orange {
    background-color: #e0913e;
  }
  &_red {
    background-color: #df5d5d;
  }
  &_purple {
    background-color: #6016bec4;
  }

  &__container {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    @media (max-width: $mobile) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }

  &__text {
    color: rgb(230, 230, 230);
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 130%;
    max-width: 670px;
    &_orange {
      max-width: 816px;
    }
    &_purple {
      max-width: 867px;
    }
    &_670 {
      max-width: 670px;
    }
    @media (max-width: $laptop) {
      max-width: 490px;
      font-size: 22px;
    }
    @media (max-width: $mobile) {
      font-size: 16px;
    }
  }

  &__decor {
    position: absolute;
    width: 422.43px;
    bottom: 0;
    right: 0;
    &_2 {
      width: 502.43px;
    }

    @media (max-width: $laptop) {
      width: 327px;
      &_2 {
        width: 401px;
      }
    }
    @media (max-width: $tablet) {
      right: -150px;
      width: 422.43px;
    }
    @media (max-width: $mobile) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
}
