.error {
  margin-top: 60px;
  margin-bottom: 60px;
  overflow: hidden;
  @media (max-width: $laptop) {
    margin-top: 50px;
    margin-bottom: 120px;
  }
  @media (max-width: $tablet) {
    margin-top: 40px;
  }
  @media (max-width: $mobile) {
    margin-top: 35px;
    margin-bottom: 0px;
  }
  @media (max-width: $laptop) {
    background-color: #eaeaec;
  }
  &__container {
  }

  &__wrapper {
    position: relative;
    background-color: #eaeaec;
    height: 481px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    @media (max-width: $mobile) {
      align-items: start;
      padding-top: 40px;
    }
  }

  &__top {
    position: absolute;
    top: 0;
    left: 0px;
    width: 420px;
    @media (max-width: $laptop) {
      width: 320px;
      left: -20px;
    }
    @media (max-width: $tablet) {
      top: -30px;
      width: 350px;
      left: -40px;
    }
    img {
      width: 100%;
    }
    @media (max-width: $mobile) {
      display: none;
      text-align: left;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    width: 420px;
    right: 0px;
    @media (max-width: $laptop) {
      width: 320px;
      right: -15px;
    }
    @media (max-width: $tablet) {
      bottom: -40px;
      width: 360px;
    }
    @media (max-width: $mobile) {
      right: auto;
      left: -60px;
      bottom: -40px;
      width: 430px;
    }
    img {
      width: 100%;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    max-width: 600px;
    text-align: center;
    margin-bottom: 50px;
    @media (max-width: $mobile) {
      text-align: left;
      align-items: start;
      margin-bottom: 30px;
    }
  }

  &__btn {
    width: 304px;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}
