.footer {
  background-color: $blue;
  padding: 60px 0px;
  @media (max-width: $tablet) {
    padding: 40px 0px;
  }

  &__container {
  }

  &__pc {
  }

  &__logo {
    @media (max-width: $mobile) {
      margin-bottom: 30px;
      display: block;
    }
  }
}
.pc-footer {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    @media (max-width: $tablet) {
      margin-bottom: 40px;
    }
    @media (max-width: $mobile) {
      flex-wrap: wrap;
      row-gap: 40px;
    }
  }

  &__column {
    &_1 {
      @media (max-width: $tablet) {
        flex: 0 0 213px;
        max-width: 213px;
      }
    }
    &_2 {
      @media (max-width: $tablet) {
        flex: 0 0 217px;
        // max-width: 217px;
      }
    }
    &_3 {
      @media (max-width: $tablet) {
        flex: 0 0 161.7px;
        // max-width: 217px;
      }
    }
  }

  &__text {
    margin-top: 32px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: $gray-bg;
    width: 260px;
    margin-bottom: 57px;
    @media (max-width: $tablet) {
      width: 100%;
      font-family: "Inter";
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      margin-bottom: 30px;
    }
  }

  &__person {
    @media (max-width: $mobile) {
      margin-bottom: 31px;
    }
    b {
      font-family: Jost;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      color: $white;
      @media (max-width: $tablet) {
        margin-bottom: 10px;
        display: block;
      }
    }
    p {
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      color: $gray-bg;
      width: 260px;
      @media (max-width: $tablet) {
        width: 100%;
      }
      @media (max-width: $mobile) {
        margin-bottom: 10px;
      }
    }
  }

  &__title {
    color: $white;
    margin-bottom: 40px;
    @media (max-width: $mobile) {
      margin-bottom: 30px;
    }
  }

  &__menu {
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    img {
      width: 100%;
    }
  }

  &__link {
    color: $gray-bg;
    font-family: "Made";
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    transition: all 0.3s;
    &:hover {
      color: $white;
    }
    &_s {
      color: $gray-bg;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      &:hover {
        text-decoration: underline;
      }
    }
    &_n {
      color: $gray-bg;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: $tablet) {
      align-items: start;
    }
  }

  &__left {
    flex: 0 1 224px;
    @media (max-width: $mobile) {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      flex-direction: row !important;
    }
  }
  .top-header__link {
    color: $white;
  }
  .top-header__item {
    &::before {
      background-color: $white;
    }
  }
  .top-header__link {
    &:hover {
      text-decoration: underline;
      svg {
        path {
          stroke: $white;
        }
      }
    }
  }
}
.pc-footer__left {
  display: flex;
  flex-direction: column;
  gap: 19px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: $gray-bg;
  a {
    color: $gray-bg;
    &:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: $tablet) {
    flex: 0 1 213px;
  }
}

.top-header {
  &__menu {
  }

  &__list {
  }

  &__item {
  }

  &__link {
  }
}

.pc-footer {
  @media (max-width: $tablet) {
    display: none;
  }
}
.tablet-footer {
  display: none;
  @media (max-width: $tablet) {
    display: block;
  }
  @media (max-width: $mobile) {
    display: none;
  }
  .top-header__menu {
    @media (max-width: $tablet) {
      .top-header__list {
        flex-direction: column;
        text-align: right;
        align-items: start;
      }
      .top-header__item {
        &::before {
          display: none;
        }
      }
      .top-header__link {
        color: $white;
      }
    }
  }
}

.mob-footer {
  display: none;
  @media (max-width: $mobile) {
    display: block;
  }
  .top-header__list {
    flex-wrap: wrap;
    margin-bottom: 15px;
    gap: 15px;
  }
  .top-header__item {
    &::before {
      display: none;
    }
  }
  .top-header__link {
    color: $white;
  }
}
