.intro {
  margin-bottom: 140px;
  @media (max-width: $tablet) {
    margin-bottom: 113px;
  }
  @media (max-width: $mobile) {
    margin-bottom: 100px;
  }
  &__carusel {
  }
}
.carusel-intro {
  margin-top: 95px;
  position: relative;
  @media (max-width: $mobile) {
    margin-top: 40px;
  }
  &__block {
    min-height: 0;
    overflow: hidden;
    border-radius: 10px;
    /* Анимация бегущей строки */
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
  }

  &__slide {
    img {
      width: 100%;
      @media (max-width: 1360px) {
        height: 293px;
      }
    }
  }

  //  flex: 0 0 25%;

  img {
    border-radius: 8.5px;
  }
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper__container {
  margin: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  } /* Начальное положение за пределами контейнера */
  100% {
    transform: translateX(-50%);
  } /* Конечное положение за пределами контейнера */
}
