.intro {
  margin-bottom: 140px;
  &__carusel {
  }
}
.carusel-intro {
  margin-top: 95px;
  &__block {
    min-height: 0;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    /* Анимация бегущей строки */
  }

  &__wrapper {
    display: flex;
    width: 3360px;
    min-width: 3360px;
    // width: 2640px;
    // min-width: 2640px;
    animation: marquee 16s linear infinite;
    justify-content: space-between;
    &:hover {
      animation-play-state: paused;
    }
  }

  span {
    width: 1320px;
    display: flex;
    gap: 20px;
  }

  //  flex: 0 0 25%;

  img {
    width: calc(25% - 10px);
    border-radius: 8.5px;
  }
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper__container {
  margin: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  } /* Начальное положение за пределами контейнера */
  100% {
    transform: translateX(-50%);
  } /* Конечное положение за пределами контейнера */
}
