.pay {
  &__container {
  }

  &__title {
    margin-bottom: 50px;
    @media (max-width: $mobile) {
      margin-bottom: 40px;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__item {
    background: rgb(234, 234, 236);
    border-radius: 10px;
    flex: 0 1 calc(33.333% - 15px);
    padding: 30px;
    @media (max-width: $laptop) {
      flex: 0 1 calc(50% - 10px);
    }
    @media (max-width: $mobile) {
      width: 100vw;
      transform: translate(-10px, 0);
      padding: 30px 20px;
      border-radius: 0px;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $accent;
    font-family: "Made";
  }

  .faq__content {
    overflow: visible;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &_20 {
      gap: 20px;
    }
    p {
      a {
        color: $accent;
        &:hover {
          text-decoration: underline;
        }
        @media (max-width: $laptop) {
          text-decoration: underline;
        }
      }
    }
    img {
      width: 90%;
    }
  }
}
