.welcome {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  @media (max-width: 1360px) {
    padding-top: 50px;
  }
  @media (max-width: $tablet) {
    padding-top: 40px;
    display: block;
  }
  @media (max-width: $mobile) {
    padding-top: 30px;
  }
  &__title {
    font-family: "Bebas";
    font-size: 100px;
    font-weight: 700;
    line-height: 120%;
    color: $black;
    span {
      color: $accent;
    }
    b {
      color: #e0913e;
    }
    flex: 0 1 780px;
    &_3 {
      flex: 0 1 511px;
    }
    @media (max-width: 1360px) {
      font-size: 66px;
      flex: 0 1 520px;
    }
    @media (max-width: $tablet) {
      max-width: 600px;
    }
    @media (max-width: $mobile) {
      font-size: 44px;
      margin-bottom: 25px;
    }
  }

  &__content {
    padding-top: 14px;
    flex: 0 1 351px;
    &_2 {
      flex: 0 1 391px;
    }
    @media (max-width: $tablet) {
      max-width: 600px;
    }
    @media (max-width: $mobile) {
      padding-top: 0;
    }
  }

  &__par {
    margin-bottom: 43px;
  }

  &__btn {
    @media (max-width: $tablet) {
      width: 308px;
    }
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}
