.welcome {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  &__title {
    font-family: 'Bebas';
    font-size: 100px;
    font-weight: 700;
    line-height: 120%;
    color: $black;
    flex: 0 1 780px;
  }

  &__content {
    flex: 0 1 351px;
  }

  &__par {
    margin-bottom: 43px;
  }

  &__btn {
  }
}
