@import "_mixin";
@import "_null.scss";
html {
  scroll-behavior: smooth;
  height: 100%;
  &._lock {
    overflow: hidden;
  }
  &.lock {
    overflow: hidden;
  }
}
a {
  color: $black;
}
.wrapper {
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body {
  color: $gray;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  height: 100%;
  background-color: #f6f7fa;
  position: relative;
  &._lock {
    overflow: hidden;
  }
  &.lock {
    overflow: hidden;
  }
}
.main {
  flex: 1 1 auto;
}
[class*="__container"] {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0px 15px;
  @media (max-width: $mobile) {
    padding: 0px 10px;
  }
}

@import "_header";
@import "_welcome";
@import "_intro";
@import "_equipment";
@import "_cards";
@import "_news";
@import "_footer";
@import "_common";
@import "_rotor";
@import "_advantages";
@import "_model";
@import "_certificates";
@import "_creation";
@import "_partners";
@import "_consultation";
@import "_video";
@import "_device";
@import "_why";
@import "_popup";
@import "_types";
@import "_manufacturer";
@import "_pay";
@import "_about";
@import "_team";
@import "_privacy";
@import "_credit";
@import "_recommen";
@import "_withdrawal";
@import "_error";
// @import '_carrousel';
// @import '_popup';
// @import '_aboutus';
// @import '_slider';
// @import '_dis';
// @import '_order';
// @import '_invite';
// @import '_map';
// @import '_textpic';
// @import '_public';
// @import '_servise';
// @import '_curtains';
// @import '_work';
// @import '_textile';
// @import '_lol';

._anim {
  opacity: 0;
  transition: all 1s;
}
._anim {
  &._active {
    opacity: 1;
  }
}
